.button{
  width: 280px;
  height: 40px;
  border-radius: 4px;
  background-color: rgba(5, 194, 223, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-decoration: none;

  @include on-tablet{
    width: 458px;
    height: 48px;
  }

  &--fixed{
    position: fixed;
    bottom: 3px;
    right: 0;
    left: 50%;
    transform: translate(-50%);

    @include on-desktop{
      position: static;
      width: 200px;
      height: 48px;
      transform: none;
    }
  }
}
