*{
  margin: 0;
}

.page{
  font-family: Inter, serif;
  color: rgba(146, 146, 146, 1);
  background-color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  height: 2000px;

  &__body{
    min-width: 320px;
    position: relative;
  }

  &__header{
    position: relative;
  }

  &__menu,
  &__language,
  &__faq {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    inset: 0;
    z-index: 1;
    transform: translateX(-100%);
    transition: all 300ms;
    overflow-y: auto;
  }

  &:has(.page__menu:target) .page__menu,
  &:has(.page__language:target) .page__language,
  &:has(.page__faq:target) .page__faq {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
  }

  &:has(.page__menu:target),
  &:has(.page__language:target),
  &:has(.page__faq:target){
    overflow: hidden;
  }

  &:has(.page__menu:target) .button,
  &:has(.page__language:target) .button,
  &:has(.page__faq:target) .button{
    opacity: 0.4;
  }
}
